a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet;
}

.card img{
    min-height: 30vh;
}

body {
    /*padding-bottom: 3vh;*/
}

#home:hover {
    font-weight: bold;
}

.carousel-inner {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.datepicker-container {
  position: relative;
}

.DateInput {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}

.CalendarDay__selected {
  background: #00a699;
  border: 1px solid #00a699;
  color: #fff;
}



