a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet;
}

.card img{
    min-height: 30vh;
}

body {
    padding-bottom: 3vh;
}

#home:hover {
    font-weight: bold;
}

.carousel-inner {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



